<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About This Angular App</h1>
        <p class="lead">
            Presenting you "MY TODO". Where you can save your daily goals.Mytodo gives you the confidence that everything’s organized and accounted for, so you can make progress on the things
            that are important to you.
        </p>
        <hr class="my-4">
        <h2>It's more than work. It’s a way of working together</h2>
        <a class="btn btn-primary btn-lg" routerLink="/" role="button">Back to todos</a>
    </div>
</div>