<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="https://to-do-cdn.microsoft.com/static-assets/c87265a87f887380a04cf21925a56539b29364b51ae53e089c3ee2b2180148c6/icons/logo.png" width="60" height="50" alt="Error">
  </a>
  <a class="navbar-brand" routerLink="/">My Todos List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
      </li>
<li class="nav-item">
  <a class="nav-link" routerLink="/about">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://github.com/harrylovescoding">My Github</a>
</li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>